<nav class="navbar navbar-expand-lg navbar-warning" style="background-color:#ffd800">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo_s.png" width="100" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="text" (keyup.enter)="search(searchField.value)"  placeholder="Buscar" aria-label="Search" #searchField>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="search(searchField.value)">Buscar</button>
    </form>
  </div>
</nav>
